/*
Alignement du contenu du footer.
 */
.present li{
    display: inline-block;
    text-decoration: none;
    background-color:cadetblue;
    margin-top: 25px;
}

/*
Footer de la page.
 */
footer{
    margin-top: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 10px;
    padding: 5px;
}

/*
Tableau d'utilisateur contenant :
- l'ID
- le nom
- le contenu
- la date de création et de mise à jour
- l'ID de l'utilisateur.
 */
#tableFichiersODTUtilisateur{
    border-width: 3px;
    border-color: black;
    font-family: "Consolas", "Courier", "Courier New", monospace;
    border-spacing: 3px;
    border-collapse: separate;
    width:100%;
    table-layout: auto;
}

/*
Couleur de la page.
*/
body{
    background-color: darkcyan;
}

/*
Le <div> désignant un bouton
 */
.button{
    background-color: cadetblue;
    font-size: 25px;
    font-family: Consolas, sans-serif;
    text-decoration: none;
    display: inline-flex;
    margin-right: 25px;
    color: black;
}

/*
les liens existants dans les boutons
WARNING : a:visited, a:hover et <a> tout court doivent avoir le texte de couleur noir.
 */
a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

/*
Cas où l'utilisateur met le pointeur sur le texte d'un bouton.
*/
a:hover{
    text-decoration: none;
    color: bisque;
}

/*
Les liens dans le tableau de l'utilisateur.
 */
#tableFichiersODTUtilisateur a{
    text-decoration: none;
    color: black;
}

#tableFichiersODTUtilisateur a:hover{
    text-decoration: none;
    color: bisque;
}

/*
Titre de la page.
 */
h2{
    text-align: center;
    font-family: "Consolas", "Courier", "Courier New", monospace;
    text-decoration: underline;
    color: bisque;
}

/*
classe désignant un paragraph avec son élément <p>
 */
.paragraph{
    font-family: "Consolas", "Courier", "Courier New", monospace;
    text-decoration: none;
    color: azure;
}

.paragraph p{
    font-size: 18px;
}

/*
Toute l'ensemble de la page.
 */
.container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*
La page principal.
 */
section{
    flex-grow: 1;
    padding-bottom: 40px;
}

/*
Cas de suppression:
- .alertalert-danger si rien ne va
- .alertalert-success si tout allait bien.
*/
.alertalert-danger{
    font-family: "Consolas", "Courier", "Courier New", monospace;
    color:darkblue;
    font-size: 25px;
}

.alertalert-success{
    font-family: "Consolas", "Courier", "Courier New", monospace;
    color:darkblue;
    font-size: 25px;
}
